upstream test_server {
  server unix:/var/www/test/run/gunicorn.sock fail_timeout=10s;
}

server {
    listen 8000;
    server_name {{ django.server_name }};
    return 301 $scheme://{{ django.server_name }}$request_uri;
}

server {
    listen   80;
    server_name {{ item.server_name }} www.{{ item.server_name }};

    client_max_body_size 4G;

    access_log /var/www/test/logs/nginx-access.log;
    error_log /var/www/test/logs/nginx-error.log warn;

    location /static/ {
        autoindex on;
        alias   {{ nginx.vhosts_folder }}/{{ item.directory_name }}/static/;
    }

    location /media/ {
        autoindex on;
        alias   {{ nginx.vhosts_folder }}/{{ item.directory_name }}/media/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://{{ item.server_name }};
            break;
        }
    }

    location  /favicon.ico {
        alias {{ nginx.vhosts_folder }}/{{ item.directory_name }}/static/img/favicon.ico;
    }

    location  /robots.txt {
        alias {{ nginx.vhosts_folder }}/{{ item.directory_name }}/static/robots.txt ;
    }

    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root {{ nginx.vhosts_folder }}/{{ item.directory_name }}/static/;
    }
}