#!/bin/bash
# This hook is sourced after a new virtualenv is activated.

proj_name=$(echo $VIRTUAL_ENV|awk -F'/' '{print $NF}')
[ ! -d ~/{{ nginx.vhosts_folder }}/$proj_name ] && mkdir -p ~/{{ nginx.vhosts_folder }}/$proj_name
add2virtualenv ~/{{ nginx.vhosts_folder }}/$proj_name
cd ~/{{ nginx.vhosts_folder }}/$proj_name