[program:gunicorn]
command={{ nginx.vhosts_folder }}/{{ django.directory_name }}/bin/gunicorn main:application -c {{ nginx.vhosts_folder }}/{{ django.directory_name }}/gunicorn.conf.py
directory={{ nginx.vhosts_folder }}/{{ django.directory_name }}
user={{ django.user }}
autostart=true
autorestart=true
redirect_stderr=true