description {{ django.directory_name }}

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir {{ nginx.vhosts_folder }}/{{ django.directory_name }}

exec {{ nginx.vhosts_folder}}/{{ item.directory_name }}/bin/gunicorn myapp:app