ServerName {{ item.server_name }}
<VirtualHost *:80>
    DirectoryIndex index.php
    DocumentRoot {{ apache.vhosts_folder }}/{{ item.directory_name}}

    # Logfiles
    ErrorLog  /var/www/logs/{{ item.server_name }}.error.log
    CustomLog /var/www/logs/{{ item.server_name }}.access.log combined
    LogLevel warn
</VirtualHost>

{% if item.ssl %}
<VirtualHost *:443>
        ServerAdmin server@jream.com
        ServerName  jream.com
        ServerAlias jream.com

        # Indexes + Directory Root.
        DirectoryIndex index.php
        DocumentRoot /var/www/{{ item.server_name }}/htdocs/public/

        # Logfiles
        ErrorLog  /var/www/logs/{{ item.server_name }}.error_ssl.log
        CustomLog /var/www/logs/{{ item.server_name }}.access_ssl.log combined
        LogLevel warn

        # SSL
        SSLEngine on
        SSLCertificateFile /etc/apache2/ssl/{{ item.server_name }}/{{ item.ssl_files.cert }}
        SSLCertificateKeyFile /etc/apache2/ssl/{{ item.server_name }}/{{ item.ssl_files.key }}
        SSLCACertificateFile /etc/apache2/ssl/{{ item.server_name }}/{{ item.ssl_files.ca }}
</VirtualHost>
{% endif %}

<Directory "{{ apache.vhosts_folder }}/{{ item.directory_name}}/">
    Header set Access-Control-Allow-Origin "*"
    Options Indexes Followsymlinks
    AllowOverride All
    Require all granted
</Directory>
